# Configurando o Kernel Spark

In [1]:
# instalar as dependências
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q
!tar xf spark-2.4.4-bin-hadoop2.7.tgz
!pip install -q findspark

O sistema nÆo pode encontrar o caminho especificado.
'wget' nÆo ‚ reconhecido como um comando interno
ou externo, um programa oper vel ou um arquivo em lotes.
tar: Error opening archive: Failed to open 'spark-2.4.4-bin-hadoop2.7.tgz'

In [ ]:
# configurar as variáveis de ambiente
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.4-bin-hadoop2.7"
 
# tornar o pyspark "importável"
import findspark
findspark.init('spark-2.4.4-bin-hadoop2.7')

In [ ]:
from pyspark.sql import SparkSession
 
 #inicializando uma sessão Spark
spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

# Explorando os Dados

### Lendo publico de modelagem (tabela principal)

In [1]:
app_train = spark.read.csv("/content/drive/MyDrive/LAMIA/projeto_final/dados/InputData/application_train.csv", inferSchema=True, header=True)
app_test = spark.read.csv("/content/drive/MyDrive/LAMIA/projeto_final/dados/InputData/application_test.csv", inferSchema=True, header=True)

app_train.registerTempTable('app_train')
 
app_train.count()

NameError: ignored

# Lendo tabela transacional Bureau

In [ ]:
bureau = spark.read.csv("/content/drive/MyDrive/LAMIA/projeto_final/dados/InputData/bureau.csv", inferSchema=True, header=True)
 
bureau.registerTempTable('bureau')
 
bureau.count()

1716428

Observe a quantidade de registros, estes serão transaformados em variaveis explicativas da granulidade da nossa tabela principal

## Verificando variaveis da tabela principal

In [ ]:
app_train.printSchema()

root
 |-- SK_ID_CURR: integer (nullable = true)
 |-- TARGET: integer (nullable = true)
 |-- NAME_CONTRACT_TYPE: string (nullable = true)
 |-- CODE_GENDER: string (nullable = true)
 |-- FLAG_OWN_CAR: string (nullable = true)
 |-- FLAG_OWN_REALTY: string (nullable = true)
 |-- CNT_CHILDREN: integer (nullable = true)
 |-- AMT_INCOME_TOTAL: double (nullable = true)
 |-- AMT_CREDIT: double (nullable = true)
 |-- AMT_ANNUITY: double (nullable = true)
 |-- AMT_GOODS_PRICE: double (nullable = true)
 |-- NAME_TYPE_SUITE: string (nullable = true)
 |-- NAME_INCOME_TYPE: string (nullable = true)
 |-- NAME_EDUCATION_TYPE: string (nullable = true)
 |-- NAME_FAMILY_STATUS: string (nullable = true)
 |-- NAME_HOUSING_TYPE: string (nullable = true)
 |-- REGION_POPULATION_RELATIVE: double (nullable = true)
 |-- DAYS_BIRTH: integer (nullable = true)
 |-- DAYS_EMPLOYED: integer (nullable = true)
 |-- DAYS_REGISTRATION: double (nullable = true)
 |-- DAYS_ID_PUBLISH: integer (nullable = true)
 |-- OWN_CAR_AGE: double (nullable = true)
 |-- FLAG_MOBIL: integer (nullable = true)
 |-- FLAG_EMP_PHONE: integer (nullable = true)
 |-- FLAG_WORK_PHONE: integer (nullable = true)
 |-- FLAG_CONT_MOBILE: integer (nullable = true)
 |-- FLAG_PHONE: integer (nullable = true)
 |-- FLAG_EMAIL: integer (nullable = true)
 |-- OCCUPATION_TYPE: string (nullable = true)
 |-- CNT_FAM_MEMBERS: double (nullable = true)
 |-- REGION_RATING_CLIENT: integer (nullable = true)
 |-- REGION_RATING_CLIENT_W_CITY: integer (nullable = true)
 |-- WEEKDAY_APPR_PROCESS_START: string (nullable = true)
 |-- HOUR_APPR_PROCESS_START: integer (nullable = true)
 |-- REG_REGION_NOT_LIVE_REGION: integer (nullable = true)
 |-- REG_REGION_NOT_WORK_REGION: integer (nullable = true)
 |-- LIVE_REGION_NOT_WORK_REGION: integer (nullable = true)
 |-- REG_CITY_NOT_LIVE_CITY: integer (nullable = true)
 |-- REG_CITY_NOT_WORK_CITY: integer (nullable = true)
 |-- LIVE_CITY_NOT_WORK_CITY: integer (nullable = true)
 |-- ORGANIZATION_TYPE: string (nullable = true)
 |-- EXT_SOURCE_1: double (nullable = true)
 |-- EXT_SOURCE_2: double (nullable = true)
 |-- EXT_SOURCE_3: double (nullable = true)
 |-- APARTMENTS_AVG: double (nullable = true)
 |-- BASEMENTAREA_AVG: double (nullable = true)
 |-- YEARS_BEGINEXPLUATATION_AVG: double (nullable = true)
 |-- YEARS_BUILD_AVG: double (nullable = true)
 |-- COMMONAREA_AVG: double (nullable = true)
 |-- ELEVATORS_AVG: double (nullable = true)
 |-- ENTRANCES_AVG: double (nullable = true)
 |-- FLOORSMAX_AVG: double (nullable = true)
 |-- FLOORSMIN_AVG: double (nullable = true)
 |-- LANDAREA_AVG: double (nullable = true)
 |-- LIVINGAPARTMENTS_AVG: double (nullable = true)
 |-- LIVINGAREA_AVG: double (nullable = true)
 |-- NONLIVINGAPARTMENTS_AVG: double (nullable = true)
 |-- NONLIVINGAREA_AVG: double (nullable = true)
 |-- APARTMENTS_MODE: double (nullable = true)
 |-- BASEMENTAREA_MODE: double (nullable = true)
 |-- YEARS_BEGINEXPLUATATION_MODE: double (nullable = true)
 |-- YEARS_BUILD_MODE: double (nullable = true)
 |-- COMMONAREA_MODE: double (nullable = true)
 |-- ELEVATORS_MODE: double (nullable = true)
 |-- ENTRANCES_MODE: double (nullable = true)
 |-- FLOORSMAX_MODE: double (nullable = true)
 |-- FLOORSMIN_MODE: double (nullable = true)
 |-- LANDAREA_MODE: double (nullable = true)
 |-- LIVINGAPARTMENTS_MODE: double (nullable = true)
 |-- LIVINGAREA_MODE: double (nullable = true)
 |-- NONLIVINGAPARTMENTS_MODE: double (nullable = true)
 |-- NONLIVINGAREA_MODE: double (nullable = true)
 |-- APARTMENTS_MEDI: double (nullable = true)
 |-- BASEMENTAREA_MEDI: double (nullable = true)
 |-- YEARS_BEGINEXPLUATATION_MEDI: double (nullable = true)
 |-- YEARS_BUILD_MEDI: double (nullable = true)
 |-- COMMONAREA_MEDI: double (nullable = true)
 |-- ELEVATORS_MEDI: double (nullable = true)
 |-- ENTRANCES_MEDI: double (nullable = true)
 |-- FLOORSMAX_MEDI: double (nullable = true)
 |-- FLOORSMIN_MEDI: double (nullable = true)
 |-- LANDAREA_MEDI: double (nullable = true)
 |-- LIVINGAPARTMENTS_MEDI: double (nullable = true)
 |-- LIVINGAREA_MEDI: double (nullable = true)
 |-- NONLIVINGAPARTMENTS_MEDI: double (nullable = true)
 |-- NONLIVINGAREA_MEDI: double (nullable = true)
 |-- FONDKAPREMONT_MODE: string (nullable = true)
 |-- HOUSETYPE_MODE: string (nullable = true)
 |-- TOTALAREA_MODE: double (nullable = true)
 |-- WALLSMATERIAL_MODE: string (nullable = true)
 |-- EMERGENCYSTATE_MODE: string (nullable = true)
 |-- OBS_30_CNT_SOCIAL_CIRCLE: double (nullable = true)
 |-- DEF_30_CNT_SOCIAL_CIRCLE: double (nullable = true)
 |-- OBS_60_CNT_SOCIAL_CIRCLE: double (nullable = true)
 |-- DEF_60_CNT_SOCIAL_CIRCLE: double (nullable = true)
 |-- DAYS_LAST_PHONE_CHANGE: double (nullable = true)
 |-- FLAG_DOCUMENT_2: integer (nullable = true)
 |-- FLAG_DOCUMENT_3: integer (nullable = true)
 |-- FLAG_DOCUMENT_4: integer (nullable = true)
 |-- FLAG_DOCUMENT_5: integer (nullable = true)
 |-- FLAG_DOCUMENT_6: integer (nullable = true)
 |-- FLAG_DOCUMENT_7: integer (nullable = true)
 |-- FLAG_DOCUMENT_8: integer (nullable = true)
 |-- FLAG_DOCUMENT_9: integer (nullable = true)
 |-- FLAG_DOCUMENT_10: integer (nullable = true)
 |-- FLAG_DOCUMENT_11: integer (nullable = true)
 |-- FLAG_DOCUMENT_12: integer (nullable = true)
 |-- FLAG_DOCUMENT_13: integer (nullable = true)
 |-- FLAG_DOCUMENT_14: integer (nullable = true)
 |-- FLAG_DOCUMENT_15: integer (nullable = true)
 |-- FLAG_DOCUMENT_16: integer (nullable = true)
 |-- FLAG_DOCUMENT_17: integer (nullable = true)
 |-- FLAG_DOCUMENT_18: integer (nullable = true)
 |-- FLAG_DOCUMENT_19: integer (nullable = true)
 |-- FLAG_DOCUMENT_20: integer (nullable = true)
 |-- FLAG_DOCUMENT_21: integer (nullable = true)
 |-- AMT_REQ_CREDIT_BUREAU_HOUR: double (nullable = true)
 |-- AMT_REQ_CREDIT_BUREAU_DAY: double (nullable = true)
 |-- AMT_REQ_CREDIT_BUREAU_WEEK: double (nullable = true)
 |-- AMT_REQ_CREDIT_BUREAU_MON: double (nullable = true)
 |-- AMT_REQ_CREDIT_BUREAU_QRT: double (nullable = true)
 |-- AMT_REQ_CREDIT_BUREAU_YEAR: double (nullable = true)

## Listando variaveis do tipo string pois provavelmente carregam informações de negocio

In [ ]:
 string_list = [item[0] for item in app_train.dtypes if item[1].startswith('string')]
 string_list

['NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'OCCUPATION_TYPE',
 'WEEKDAY_APPR_PROCESS_START',
 'ORGANIZATION_TYPE',
 'FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE']

## Calculando a volumetria e taxa de evento parqa cada dominio de cada uma das variaveis tipo string

**TARGET**: Diz respeito a taxa de inadimplencia de determinada feature

# 1) NAME_CONTRACT_TYPE
Identificação se o empréstimo é à vista ou rotativo

**Cash loans**: Emprestimos em dinheiro   
**Revolving loans**: Emprestimos Rotativo

In [ ]:
spark.sql("""
            select 
              NAME_CONTRACT_TYPE,
              round(100*avg(TARGET),2) as AVG_TARGET,
              count(*) as Volume
 
            from 
              app_train
            group by 
              NAME_CONTRACT_TYPE
            order by 
              AVG_TARGET desc
""").show()

+------------------+----------+------+
|NAME_CONTRACT_TYPE|AVG_TARGET|Volume|
+------------------+----------+------+
|        Cash loans|      8.35|278232|
|   Revolving loans|      5.48| 29279|
+------------------+----------+------+

Podemos identificar que quem faz emprestimos do tipo rotativo possuem menor taxa de inadimplencia que o em dinheiro, mas tambem o volume para essas pessoas e muito menor

# 2) CODE_GENDER
Sexo do cliente   
M: Masculino  
F: Feminino

In [ ]:
spark.sql("""
           select 
              CODE_GENDER,
              round(100*avg(TARGET),2) as AVG_TARGET,
              count(*) as Volume
 
            from 
              app_train
            group by 
              CODE_GENDER
            order by 
              AVG_TARGET desc
""").show()

+-----------+----------+------+
|CODE_GENDER|AVG_TARGET|Volume|
+-----------+----------+------+
|          M|     10.14|105059|
|          F|       7.0|202448|
|        XNA|       0.0|     4|
+-----------+----------+------+

- Apesar de grande parte do sexo masculino realizar menos emprestimos, a taxa de inadimplencia supera a do sexo feminino
- mesmo que o sexo feminino tenha maior volume de aprovação

# 3) FLAG_OWN_CAR
Se o cliente possui um carro   

N: não  
Y: sim

In [ ]:
spark.sql("""
            select 
              FLAG_OWN_CAR,
              round(100*avg(TARGET),2) as AVG_TARGET,
              count(*) as Volume
 
            from 
              app_train
            group by 
              FLAG_OWN_CAR
            order by 
              AVG_TARGET desc
""").show()

+------------+----------+------+
|FLAG_OWN_CAR|AVG_TARGET|Volume|
+------------+----------+------+
|           N|       8.5|202924|
|           Y|      7.24|104587|
+------------+----------+------+

- pessoal que não tem carro tem um maior volume, porem uma taxa maior de inadimplencia, sera que o emprestimo era pra comprar um carro?

# 4) FLAG_OWN_REALTY
Se o cliente possui uma casa ou apartamento   

N: não   
Y: sim

In [ ]:
spark.sql("""
             select 
              FLAG_OWN_REALTY,
              round(100*avg(TARGET),2) as AVG_TARGET,
              count(*) as Volume
 
            from 
              app_train
            group by 
              FLAG_OWN_REALTY
            order by 
              AVG_TARGET desc
""").show()

+---------------+----------+------+
|FLAG_OWN_REALTY|AVG_TARGET|Volume|
+---------------+----------+------+
|              N|      8.32| 94199|
|              Y|      7.96|213312|
+---------------+----------+------+

- Novamente os clientes que não possuem o bem, com uma maior taxa de inadimplencia.
- Tendencia para o emprestimo ser aprovado para pessoas que tem residencia propria

# 5) NAME_TYPE_SUITE
Quem estava acompanhando o cliente quando ele estava solicitando o empréstimo

In [ ]:
spark.sql("""
           select 
              NAME_TYPE_SUITE,
              round(100*avg(TARGET),2) as AVG_TARGET,
              count(*) as Volume
 
            from 
              app_train
            group by 
              NAME_TYPE_SUITE
            order by 
              AVG_TARGET desc
""").show()

+---------------+----------+------+
|NAME_TYPE_SUITE|AVG_TARGET|Volume|
+---------------+----------+------+
|        Other_B|      9.83|  1770|
|        Other_A|      8.78|   866|
|Group of people|      8.49|   271|
|  Unaccompanied|      8.18|248526|
|Spouse, partner|      7.87| 11370|
|         Family|      7.49| 40149|
|       Children|      7.38|  3267|
|           null|      5.42|  1292|
+---------------+----------+------+

- Aprovação massiva em clientes que foram desacompanhados, talvez de uma segurança ao banco ver que a pessoa parece ser idependente.

# 6) NAME_INCOME_TYPE
Tipo de renda dos clientes (empresário, trabalhador, licença maternidade)

In [ ]:
spark.sql("""
            select 
              NAME_INCOME_TYPE,
              round(100*avg(TARGET),2) as AVG_TARGET,
              count(*) as Volume
 
            from 
              app_train
            group by 
              NAME_INCOME_TYPE
            order by 
              AVG_TARGET desc
""").show()

+--------------------+----------+------+
|    NAME_INCOME_TYPE|AVG_TARGET|Volume|
+--------------------+----------+------+
|     Maternity leave|      40.0|     5|
|          Unemployed|     36.36|    22|
|             Working|      9.59|158774|
|Commercial associate|      7.48| 71617|
|       State servant|      5.75| 21703|
|           Pensioner|      5.39| 55362|
|             Student|       0.0|    18|
|         Businessman|       0.0|    10|
+--------------------+----------+------+

- Baixo volume para rendas de licença maternidade, inadimplencia  bem alta, pela quantidade de imprestimos faz sentido

- Maiores volumes para pensionistas, trabalhadores e servidores do estado, estariam essas pessoas ganhando mal? 
- o caso dos aposentados/pensionistas sabemos que são meio que alvos para agencias de emprestimos.

- Mas o caso do trabnalhador estar solicitando varios emprestimos e preocupante

# 7) NAME_EDUCATION_TYPE
Nível de educação mais alto que o cliente alcançou

In [ ]:
spark.sql("""
           select 
              NAME_EDUCATION_TYPE,
              round(100*avg(TARGET),2) as AVG_TARGET,
              count(*) as Volume
 
            from 
              app_train
            group by 
              NAME_EDUCATION_TYPE
            order by 
              AVG_TARGET desc
""").show()

+--------------------+----------+------+
| NAME_EDUCATION_TYPE|AVG_TARGET|Volume|
+--------------------+----------+------+
|     Lower secondary|     10.93|  3816|
|Secondary / secon...|      8.94|218391|
|   Incomplete higher|      8.48| 10277|
|    Higher education|      5.36| 74863|
|     Academic degree|      1.83|   164|
+--------------------+----------+------+

- Pessoas que concluiram ate o segundo do ensino medio tem uma altissima tendencia a realizar emprestimos, ja os que concluiram o ensino academico tem o menor volume, seria algum tipo de insight sobre status social de pessoas que chegaram ate o ensino academico

- Ou poderia ser que o academico e so a escola normal e essas pessoas não necessitam ou não buscam credito pois não objetivam algo

# 8) NAME_FAMILY_STATUS
Situação familiar do cliente

In [ ]:
spark.sql("""
           select 
              NAME_FAMILY_STATUS,
              round(100*avg(TARGET),2) as AVG_TARGET,
              count(*) as Volume
 
            from 
              app_train
            group by 
              NAME_FAMILY_STATUS
            order by 
              AVG_TARGET desc
""").show()

+--------------------+----------+------+
|  NAME_FAMILY_STATUS|AVG_TARGET|Volume|
+--------------------+----------+------+
|      Civil marriage|      9.94| 29775|
|Single / not married|      9.81| 45444|
|           Separated|      8.19| 19770|
|             Married|      7.56|196432|
|               Widow|      5.82| 16088|
|             Unknown|       0.0|     2|
+--------------------+----------+------+

- Casais tendem a realizar mais emprestimos, baixa taxa de inadimplencia.
- Talvez um compromisso os tornam otimos clientes

# 9) NAME_HOUSING_TYPE
Qual é a situação habitacional do cliente (alugar, viver com os pais)

In [ ]:
spark.sql("""
           select 
              NAME_HOUSING_TYPE,
              round(100*avg(TARGET),2) as AVG_TARGET,
              count(*) as Volume
 
            from 
              app_train
            group by 
              NAME_HOUSING_TYPE
            order by 
              AVG_TARGET desc
""").show()

+-------------------+----------+------+
|  NAME_HOUSING_TYPE|AVG_TARGET|Volume|
+-------------------+----------+------+
|   Rented apartment|     12.31|  4881|
|       With parents|      11.7| 14840|
|Municipal apartment|      8.54| 11183|
|    Co-op apartment|      7.93|  1122|
|  House / apartment|       7.8|272868|
|   Office apartment|      6.57|  2617|
+-------------------+----------+------+

Novamente a situação de pessoas com casa/moradia fixa, infere muito no volume de imprestimos, alem da baixa taxa de inadimplencia   

Seria esse uma caracteristica em um futuro perfil de 'cliente ideal'?

# 10) OCCUPATION_TYPE
Diz respeito a ocupação do cliente

**Low-skill Laborers**: Trabalhadores de baixa qualificação

In [ ]:
spark.sql("""
            select 
              OCCUPATION_TYPE,
              round(100*avg(TARGET),2) as AVG_TARGET,
              count(*) as Volume
 
            from 
              app_train
            group by 
              OCCUPATION_TYPE
            order by 
              AVG_TARGET desc
""").show()

+--------------------+----------+------+
|     OCCUPATION_TYPE|AVG_TARGET|Volume|
+--------------------+----------+------+
|  Low-skill Laborers|     17.15|  2093|
|             Drivers|     11.33| 18603|
|Waiters/barmen staff|     11.28|  1348|
|      Security staff|     10.74|  6721|
|            Laborers|     10.58| 55186|
|       Cooking staff|     10.44|  5946|
|         Sales staff|      9.63| 32102|
|      Cleaning staff|      9.61|  4653|
|       Realty agents|      7.86|   751|
|         Secretaries|      7.05|  1305|
|      Medicine staff|       6.7|  8537|
|Private service s...|       6.6|  2652|
|                null|      6.51| 96391|
|            IT staff|      6.46|   526|
|            HR staff|      6.39|   563|
|          Core staff|       6.3| 27570|
|            Managers|      6.21| 21371|
|High skill tech s...|      6.16| 11380|
|         Accountants|      4.83|  9813|
+--------------------+----------+------+

Mais uma observação seria que os 'trabalhadores de baixa qualificação' tem a maior taxa de inadimplencia, ja os contadores a menor, seria algo logico? kkk

#11) WEEKDAY_APPR_PROCESS_START 
Em que dia da semana o cliente solicitou o empréstimo

In [ ]:
spark.sql("""
             select 
              WEEKDAY_APPR_PROCESS_START,
              round(100*avg(TARGET),2) as AVG_TARGET,
              count(*) as Volume
 
            from 
              app_train
            group by 
              WEEKDAY_APPR_PROCESS_START
            order by 
              AVG_TARGET desc
""").show()

+--------------------------+----------+------+
|WEEKDAY_APPR_PROCESS_START|AVG_TARGET|Volume|
+--------------------------+----------+------+
|                   TUESDAY|      8.35| 53901|
|                 WEDNESDAY|      8.16| 51934|
|                    FRIDAY|      8.15| 50338|
|                  THURSDAY|       8.1| 50591|
|                    SUNDAY|      7.93| 16181|
|                  SATURDAY|      7.89| 33852|
|                    MONDAY|      7.76| 50714|
+--------------------------+----------+------+

- Mais volume nos dias da semana, dados medianos nada a declarar

## 12) FONDKAPREMONT_MODE 
Informações normalizadas sobre o prédio onde o cliente mora, Qual é a média (sufixo _AVG), modus (sufixo _MODE), tamanho médio do apartamento (sufixo _MEDI), área comum, área de estar, idade do edifício, número de elevadores, número de entradas, estado do edifício, número de andares

In [ ]:
spark.sql("""
            select 
              FONDKAPREMONT_MODE,
              round(100*avg(TARGET),2) as AVG_TARGET,
              count(*) as Volume
 
            from 
              app_train
            group by 
              FONDKAPREMONT_MODE
            order by 
              AVG_TARGET desc
""").show()

+--------------------+----------+------+
|  FONDKAPREMONT_MODE|AVG_TARGET|Volume|
+--------------------+----------+------+
|                null|      8.62|210295|
|       not specified|      7.54|  5687|
|    reg oper account|      6.98| 73830|
|reg oper spec acc...|      6.56| 12080|
|    org spec account|      5.82|  5619|
+--------------------+----------+------+

- Muitos dados nulls, aparentemente um dado muito especifico, ou muitas pessoas n tinham organizações

# 13) HOUSETYPE_MODE 
Informações normalizadas sobre o edifício onde o cliente mora, Qual é a média (sufixo _AVG), modus (sufixo _MODE), tamanho médio do apartamento (sufixo _MEDI), área comum, área de estar, idade do edifício, número de elevadores, número de entradas, estado do edifício, número de pisos

In [ ]:
spark.sql("""
            select 
              HOUSETYPE_MODE,
              round(100*avg(TARGET),2) as AVG_TARGET,
              count(*) as Volume
 
            from 
              app_train
            group by 
              HOUSETYPE_MODE
            order by 
              AVG_TARGET desc
""").show()

+----------------+----------+------+
|  HOUSETYPE_MODE|AVG_TARGET|Volume|
+----------------+----------+------+
|specific housing|     10.14|  1499|
|            null|      9.15|154297|
|  terraced house|       8.5|  1212|
|  block of flats|      6.94|150503|
+----------------+----------+------+

- Alem dos nulls, grande volume para block of flats(blocos de apartamento)

# 14) WALLSMATERIAL_MODE 
Informações normalizadas sobre o edifício onde o cliente mora, Qual é a média (sufixo _AVG), modus (sufixo _MODE), tamanho médio do apartamento (sufixo _MEDI), área comum, área de estar, idade do edifício, número de elevadores, número de entradas, estado do edifício, número de pisos

In [ ]:
spark.sql("""
            select 
              WALLSMATERIAL_MODE,
              round(100*avg(TARGET),2) as AVG_TARGET,
              count(*) as Volume
 
            from 
              app_train
            group by 
              WALLSMATERIAL_MODE
            order by 
              AVG_TARGET desc
""").show()

+------------------+----------+------+
|WALLSMATERIAL_MODE|AVG_TARGET|Volume|
+------------------+----------+------+
|            Wooden|       9.7|  5362|
|              null|      9.13|156341|
|            Others|      8.31|  1625|
|             Mixed|      7.53|  2296|
|      Stone, brick|      7.41| 64815|
|             Block|      7.02|  9253|
|             Panel|      6.35| 66040|
|        Monolithic|      4.72|  1779|
+------------------+----------+------+

## 15) EMERGENCYSTATE_MODE 
Informações normalizadas sobre o prédio onde o cliente mora, Qual é a média (sufixo _AVG), modus (sufixo _MODE), tamanho médio (sufixo _MEDI) do apartamento, área comum, área de estar, idade do edifício, número de elevadores, número de entradas, estado do edifício, número de andares

In [ ]:
spark.sql("""select NAME_INCOME_TYPE, 
            EMERGENCYSTATE_MODE, 
            FLAG_OWN_REALTY, 
            CNT_CHILDREN, 
            AMT_INCOME_TOTAL,
            AMT_CREDIT
            
            from app_train 
            
            WHERE EMERGENCYSTATE_MODE = 'Yes'
            
            
            
            
            ORDER BY AMT_INCOME_TOTAL DESC
            """).show(100)

+--------------------+-------------------+---------------+------------+----------------+----------+
|    NAME_INCOME_TYPE|EMERGENCYSTATE_MODE|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|AMT_CREDIT|
+--------------------+-------------------+---------------+------------+----------------+----------+
|Commercial associate|                Yes|              Y|           0|       1350000.0|  675000.0|
|Commercial associate|                Yes|              N|           0|       1260000.0| 1864152.0|
|Commercial associate|                Yes|              N|           0|       1125000.0|  592560.0|
|             Working|                Yes|              Y|           0|        900000.0|  545040.0|
|             Working|                Yes|              Y|           0|        675000.0| 1800000.0|
|             Working|                Yes|              Y|           1|        675000.0| 1096020.0|
|             Working|                Yes|              Y|           1|        675000.0|  463500.0|
|       State servant|                Yes|              Y|           0|        670500.0| 2517300.0|
|             Working|                Yes|              Y|           0|        630000.0|  500490.0|
|             Working|                Yes|              Y|           0|        630000.0| 1528200.0|
|             Working|                Yes|              N|           0|        585000.0|  970380.0|
|Commercial associate|                Yes|              Y|           0|        540000.0| 1762110.0|
|Commercial associate|                Yes|              N|           0|        540000.0|  956574.0|
|Commercial associate|                Yes|              N|           2|        540000.0| 1724220.0|
|             Working|                Yes|              Y|           1|        540000.0|  106974.0|
|       State servant|                Yes|              N|           2|        468000.0|  549000.0|
|Commercial associate|                Yes|              Y|           0|        450000.0| 1249740.0|
|       State servant|                Yes|              Y|           0|        450000.0|  678456.0|
|Commercial associate|                Yes|              Y|           0|        450000.0|  270000.0|
|Commercial associate|                Yes|              Y|           1|        450000.0|  180000.0|
|Commercial associate|                Yes|              Y|           1|        450000.0|  893254.5|
|       State servant|                Yes|              Y|           0|        450000.0| 1258650.0|
|Commercial associate|                Yes|              Y|           1|        450000.0| 1113840.0|
|             Working|                Yes|              N|           0|        450000.0| 1256400.0|
|             Working|                Yes|              Y|           0|        450000.0|  835380.0|
|Commercial associate|                Yes|              N|           0|        450000.0| 1800000.0|
|             Working|                Yes|              Y|           0|        450000.0| 1006920.0|
|Commercial associate|                Yes|              Y|           0|        450000.0| 1350000.0|
|             Working|                Yes|              Y|           2|        450000.0|  900000.0|
|Commercial associate|                Yes|              Y|           0|        450000.0|  503266.5|
|       State servant|                Yes|              Y|           1|        450000.0| 1574532.0|
|Commercial associate|                Yes|              Y|           0|        450000.0|  621000.0|
|Commercial associate|                Yes|              Y|           0|        441000.0|  755190.0|
|Commercial associate|                Yes|              N|           0|        436500.0| 1190340.0|
|       State servant|                Yes|              N|           0|        436500.0|  900000.0|
|Commercial associate|                Yes|              Y|           1|        414000.0|  363190.5|
|Commercial associate|                Yes|              N|           1|        405000.0| 1575000.0|
|Commercial associate|                Yes|              N|           2|        405000.0| 1436850.0|
|             Working|                Yes|              Y|           0|        405000.0|  263686.5|
|             Working|                Yes|              Y|           1|        405000.0| 1800000.0|
|             Working|                Yes|              N|           0|        405000.0| 1350000.0|
|Commercial associate|                Yes|              Y|           1|        405000.0|  270000.0|
|             Working|                Yes|              Y|           4|        405000.0|  728460.0|
|             Working|                Yes|              N|           0|        405000.0|  454500.0|
|       State servant|                Yes|              N|           0|        405000.0| 1506816.0|
|       State servant|                Yes|              Y|           0|        391500.0|  835380.0|
|       State servant|                Yes|              N|           0|        391500.0| 1467612.0|
|             Working|                Yes|              Y|           0|        391500.0|  463500.0|
|             Working|                Yes|              Y|           0|        382500.0| 1570500.0|
|Commercial associate|                Yes|              Y|           1|        382500.0| 1938321.0|
|             Working|                Yes|              Y|           1|        382500.0|  495000.0|
|       State servant|                Yes|              Y|           1|        382500.0| 1483650.0|
|             Working|                Yes|              N|           1|        382500.0|  808650.0|
|Commercial associate|                Yes|              Y|           0|        360000.0| 2133000.0|
|Commercial associate|                Yes|              Y|           2|        360000.0|  755190.0|
|             Working|                Yes|              N|           0|        360000.0|  715095.0|
|Commercial associate|                Yes|              Y|           0|        360000.0| 1275345.0|
|             Working|                Yes|              Y|           0|        360000.0|  965340.0|
|             Working|                Yes|              Y|           0|        360000.0|  904216.5|
|Commercial associate|                Yes|              Y|           3|        360000.0|  536917.5|
|Commercial associate|                Yes|              Y|           1|        360000.0| 1756714.5|
|             Working|                Yes|              N|           0|        360000.0| 1762110.0|
|             Working|                Yes|              Y|           0|        360000.0|  544491.0|
|Commercial associate|                Yes|              N|           1|        360000.0|  835380.0|
|Commercial associate|                Yes|              N|           0|        360000.0|  760225.5|
|             Working|                Yes|              N|           0|        360000.0| 1255500.0|
|             Working|                Yes|              Y|           0|        360000.0| 1288350.0|
|             Working|                Yes|              Y|           1|        360000.0|  699808.5|
|Commercial associate|                Yes|              Y|           3|        360000.0|  675000.0|
|Commercial associate|                Yes|              N|           1|        360000.0| 1166724.0|
|             Working|                Yes|              Y|           2|        360000.0|  755190.0|
|Commercial associate|                Yes|              N|           0|        360000.0| 1288350.0|
|Commercial associate|                Yes|              N|           0|        360000.0| 1699740.0|
|Commercial associate|                Yes|              Y|           0|        360000.0| 1762110.0|
|             Working|                Yes|              N|           3|        360000.0| 1006920.0|
|             Working|                Yes|              Y|           0|        360000.0|  646920.0|
|Commercial associate|                Yes|              Y|           1|        360000.0| 1204749.0|
|             Working|                Yes|              Y|           0|        351000.0| 1288350.0|
|Commercial associate|                Yes|              Y|           1|        351000.0| 1223010.0|
|             Working|                Yes|              Y|           0|        351000.0| 1078200.0|
|Commercial associate|                Yes|              N|           2|        337500.0|  835380.0|
|             Working|                Yes|              Y|           1|        337500.0|  207711.0|
|Commercial associate|                Yes|              Y|           0|        337500.0|  675000.0|
|             Working|                Yes|              Y|           0|        337500.0|  405000.0|
|             Working|                Yes|              Y|           0|        337500.0|  104256.0|
|       State servant|                Yes|              N|           0|        337500.0| 1886850.0|
|       State servant|                Yes|              Y|           1|        337500.0| 1532506.5|
|             Working|                Yes|              N|           1|        337500.0|  410400.0|
|Commercial associate|                Yes|              N|           0|        337500.0| 1051245.0|
|       State servant|                Yes|              Y|           1|        337500.0|  858114.0|
|             Working|                Yes|              Y|           1|        337500.0|  901813.5|
|           Pensioner|                Yes|              Y|           0|        337500.0|  487192.5|
|Commercial associate|                Yes|              Y|           0|        337500.0|  762979.5|
|             Working|                Yes|              Y|           1|        337500.0| 1006920.0|
|       State servant|                Yes|              N|           0|        324000.0|  509400.0|
|             Working|                Yes|              N|           0|        315000.0|  450000.0|
|Commercial associate|                Yes|              Y|           0|        315000.0|  528687.0|
|       State servant|                Yes|              Y|           0|        315000.0|  855000.0|
|             Working|                Yes|              Y|           0|        315000.0|  509602.5|
|Commercial associate|                Yes|              N|           0|        315000.0|  729792.0|
+--------------------+-------------------+---------------+------------+----------------+----------+
only showing top 100 rows

In [ ]:
spark.sql("""
            select 
              EMERGENCYSTATE_MODE,
              round(100*avg(TARGET),2) as AVG_TARGET,
              sum()
              count(*) as Volume
    
            from 
              app_train
            group by 
              EMERGENCYSTATE_MODE
            order by 
              AVG_TARGET desc
""").show()

ParseException: ignored

- Estado de emergencia na moradia, grande paerte null/não porem a menor taxa é dos que não estão necessitados, complicado

# 16) ORGANIZATION_TYPE 
Tipo de organização onde o cliente trabalha

In [ ]:
spark.sql("""
            select 
              ORGANIZATION_TYPE,
              round(100*avg(TARGET),2) as AVG_TARGET,
              count(*) as Volume
 
            from 
              app_train
            group by 
              ORGANIZATION_TYPE
            order by 
              AVG_TARGET desc
""").show()

+--------------------+----------+------+
|   ORGANIZATION_TYPE|AVG_TARGET|Volume|
+--------------------+----------+------+
|   Transport: type 3|     15.75|  1187|
|   Industry: type 13|     13.43|    67|
|    Industry: type 8|      12.5|    24|
|          Restaurant|     11.71|  1811|
|        Construction|     11.68|  6721|
|            Cleaning|     11.15|   260|
|    Industry: type 1|     11.07|  1039|
|    Industry: type 3|     10.62|  3278|
|             Realtor|     10.61|   396|
|         Agriculture|     10.47|  2454|
|       Trade: type 3|     10.34|  3492|
|       Self-employed|     10.17| 38412|
|    Industry: type 4|     10.15|   877|
|            Security|      9.98|  3247|
|       Trade: type 7|      9.45|  7831|
|Business Entity T...|       9.3| 67992|
|   Transport: type 4|      9.28|  5398|
|              Mobile|      9.15|   317|
|       Trade: type 1|      8.91|   348|
|   Industry: type 11|      8.65|  2704|
+--------------------+----------+------+
only showing top 20 rows

- Nada a declarar

In [ ]:
spark.sql("select EMERGENCY_STATE from ")

# Dados

In [ ]:
app_train.show()

+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+--------------------+--------------------+--------------------+-----------------+--------------------------+----------+-------------+-----------------+---------------+-----------+----------+--------------+---------------+----------------+----------+----------+---------------+---------------+--------------------+---------------------------+--------------------------+-----------------------+--------------------------+--------------------------+---------------------------+----------------------+----------------------+-----------------------+--------------------+-------------------+-------------------+-------------------+--------------+----------------+---------------------------+------------------+--------------+-------------+-------------+-------------+-------------+------------+--------------------+--------------+-----------------------+-----------------+---------------+-----------------+----------------------------+----------------+---------------+--------------+--------------+--------------+--------------+-------------+---------------------+---------------+------------------------+------------------+---------------+-----------------+----------------------------+------------------+---------------+--------------+--------------+--------------+--------------+-------------+---------------------+---------------+------------------------+------------------+------------------+--------------+--------------+------------------+-------------------+------------------------+------------------------+------------------------+------------------------+----------------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+--------------------------+-------------------------+--------------------------+-------------------------+-------------------------+--------------------------+
|SK_ID_CURR|TARGET|NAME_CONTRACT_TYPE|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|AMT_CREDIT|AMT_ANNUITY|AMT_GOODS_PRICE|NAME_TYPE_SUITE|    NAME_INCOME_TYPE| NAME_EDUCATION_TYPE|  NAME_FAMILY_STATUS|NAME_HOUSING_TYPE|REGION_POPULATION_RELATIVE|DAYS_BIRTH|DAYS_EMPLOYED|DAYS_REGISTRATION|DAYS_ID_PUBLISH|OWN_CAR_AGE|FLAG_MOBIL|FLAG_EMP_PHONE|FLAG_WORK_PHONE|FLAG_CONT_MOBILE|FLAG_PHONE|FLAG_EMAIL|OCCUPATION_TYPE|CNT_FAM_MEMBERS|REGION_RATING_CLIENT|REGION_RATING_CLIENT_W_CITY|WEEKDAY_APPR_PROCESS_START|HOUR_APPR_PROCESS_START|REG_REGION_NOT_LIVE_REGION|REG_REGION_NOT_WORK_REGION|LIVE_REGION_NOT_WORK_REGION|REG_CITY_NOT_LIVE_CITY|REG_CITY_NOT_WORK_CITY|LIVE_CITY_NOT_WORK_CITY|   ORGANIZATION_TYPE|       EXT_SOURCE_1|       EXT_SOURCE_2|       EXT_SOURCE_3|APARTMENTS_AVG|BASEMENTAREA_AVG|YEARS_BEGINEXPLUATATION_AVG|   YEARS_BUILD_AVG|COMMONAREA_AVG|ELEVATORS_AVG|ENTRANCES_AVG|FLOORSMAX_AVG|FLOORSMIN_AVG|LANDAREA_AVG|LIVINGAPARTMENTS_AVG|LIVINGAREA_AVG|NONLIVINGAPARTMENTS_AVG|NONLIVINGAREA_AVG|APARTMENTS_MODE|BASEMENTAREA_MODE|YEARS_BEGINEXPLUATATION_MODE|YEARS_BUILD_MODE|COMMONAREA_MODE|ELEVATORS_MODE|ENTRANCES_MODE|FLOORSMAX_MODE|FLOORSMIN_MODE|LANDAREA_MODE|LIVINGAPARTMENTS_MODE|LIVINGAREA_MODE|NONLIVINGAPARTMENTS_MODE|NONLIVINGAREA_MODE|APARTMENTS_MEDI|BASEMENTAREA_MEDI|YEARS_BEGINEXPLUATATION_MEDI|  YEARS_BUILD_MEDI|COMMONAREA_MEDI|ELEVATORS_MEDI|ENTRANCES_MEDI|FLOORSMAX_MEDI|FLOORSMIN_MEDI|LANDAREA_MEDI|LIVINGAPARTMENTS_MEDI|LIVINGAREA_MEDI|NONLIVINGAPARTMENTS_MEDI|NONLIVINGAREA_MEDI|FONDKAPREMONT_MODE|HOUSETYPE_MODE|TOTALAREA_MODE|WALLSMATERIAL_MODE|EMERGENCYSTATE_MODE|OBS_30_CNT_SOCIAL_CIRCLE|DEF_30_CNT_SOCIAL_CIRCLE|OBS_60_CNT_SOCIAL_CIRCLE|DEF_60_CNT_SOCIAL_CIRCLE|DAYS_LAST_PHONE_CHANGE|FLAG_DOCUMENT_2|FLAG_DOCUMENT_3|FLAG_DOCUMENT_4|FLAG_DOCUMENT_5|FLAG_DOCUMENT_6|FLAG_DOCUMENT_7|FLAG_DOCUMENT_8|FLAG_DOCUMENT_9|FLAG_DOCUMENT_10|FLAG_DOCUMENT_11|FLAG_DOCUMENT_12|FLAG_DOCUMENT_13|FLAG_DOCUMENT_14|FLAG_DOCUMENT_15|FLAG_DOCUMENT_16|FLAG_DOCUMENT_17|FLAG_DOCUMENT_18|FLAG_DOCUMENT_19|FLAG_DOCUMENT_20|FLAG_DOCUMENT_21|AMT_REQ_CREDIT_BUREAU_HOUR|AMT_REQ_CREDIT_BUREAU_DAY|AMT_REQ_CREDIT_BUREAU_WEEK|AMT_REQ_CREDIT_BUREAU_MON|AMT_REQ_CREDIT_BUREAU_QRT|AMT_REQ_CREDIT_BUREAU_YEAR|
+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+--------------------+--------------------+--------------------+-----------------+--------------------------+----------+-------------+-----------------+---------------+-----------+----------+--------------+---------------+----------------+----------+----------+---------------+---------------+--------------------+---------------------------+--------------------------+-----------------------+--------------------------+--------------------------+---------------------------+----------------------+----------------------+-----------------------+--------------------+-------------------+-------------------+-------------------+--------------+----------------+---------------------------+------------------+--------------+-------------+-------------+-------------+-------------+------------+--------------------+--------------+-----------------------+-----------------+---------------+-----------------+----------------------------+----------------+---------------+--------------+--------------+--------------+--------------+-------------+---------------------+---------------+------------------------+------------------+---------------+-----------------+----------------------------+------------------+---------------+--------------+--------------+--------------+--------------+-------------+---------------------+---------------+------------------------+------------------+------------------+--------------+--------------+------------------+-------------------+------------------------+------------------------+------------------------+------------------------+----------------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+--------------------------+-------------------------+--------------------------+-------------------------+-------------------------+--------------------------+
|    100002|     1|        Cash loans|          M|           N|              Y|           0|        202500.0|  406597.5|    24700.5|       351000.0|  Unaccompanied|             Working|Secondary / secon...|Single / not married|House / apartment|                  0.018801|     -9461|         -637|          -3648.0|          -2120|       null|         1|             1|              0|               1|         1|         0|       Laborers|            1.0|                   2|                          2|                 WEDNESDAY|                     10|                         0|                         0|                          0|                     0|                     0|                      0|Business Entity T...|0.08303696739132256| 0.2629485927471776|0.13937578009978951|        0.0247|          0.0369|                     0.9722|            0.6192|        0.0143|          0.0|        0.069|       0.0833|        0.125|      0.0369|              0.0202|         0.019|                    0.0|              0.0|         0.0252|           0.0383|                      0.9722|          0.6341|         0.0144|           0.0|         0.069|        0.0833|         0.125|       0.0377|                0.022|         0.0198|                     0.0|               0.0|          0.025|           0.0369|                      0.9722|            0.6243|         0.0144|           0.0|         0.069|        0.0833|         0.125|       0.0375|               0.0205|         0.0193|                     0.0|               0.0|  reg oper account|block of flats|        0.0149|      Stone, brick|                 No|                     2.0|                     2.0|                     2.0|                     2.0|               -1134.0|              0|              1|              0|              0|              0|              0|              0|              0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|                       0.0|                      0.0|                       0.0|                      0.0|                      0.0|                       1.0|
|    100003|     0|        Cash loans|          F|           N|              N|           0|        270000.0| 1293502.5|    35698.5|      1129500.0|         Family|       State servant|    Higher education|             Married|House / apartment|      0.003540999999999999|    -16765|        -1188|          -1186.0|           -291|       null|         1|             1|              0|               1|         1|         0|     Core staff|            2.0|                   1|                          1|                    MONDAY|                     11|                         0|                         0|                          0|                     0|                     0|                      0|              School| 0.3112673113812225| 0.6222457752555098|               null|        0.0959|          0.0529|                     0.9851|0.7959999999999999|        0.0605|         0.08|       0.0345|       0.2917|       0.3333|       0.013|              0.0773|        0.0549|                 0.0039|           0.0098|         0.0924|           0.0538|                      0.9851|           0.804|         0.0497|        0.0806|        0.0345|        0.2917|        0.3333|       0.0128|                0.079|         0.0554|                     0.0|               0.0|         0.0968|           0.0529|                      0.9851|            0.7987|         0.0608|          0.08|        0.0345|        0.2917|        0.3333|       0.0132|               0.0787|         0.0558|                  0.0039|              0.01|  reg oper account|block of flats|        0.0714|             Block|                 No|                     1.0|                     0.0|                     1.0|                     0.0|                -828.0|              0|              1|              0|              0|              0|              0|              0|              0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|                       0.0|                      0.0|                       0.0|                      0.0|                      0.0|                       0.0|
|    100004|     0|   Revolving loans|          M|           Y|              Y|           0|         67500.0|  135000.0|     6750.0|       135000.0|  Unaccompanied|             Working|Secondary / secon...|Single / not married|House / apartment|                  0.010032|    -19046|         -225|          -4260.0|          -2531|       26.0|         1|             1|              1|               1|         1|         0|       Laborers|            1.0|                   2|                          2|                    MONDAY|                      9|                         0|                         0|                          0|                     0|                     0|                      0|          Government|               null| 0.5559120833904428| 0.7295666907060153|          null|            null|                       null|              null|          null|         null|         null|         null|         null|        null|                null|          null|                   null|             null|           null|             null|                        null|            null|           null|          null|          null|          null|          null|         null|                 null|           null|                    null|              null|           null|             null|                        null|              null|           null|          null|          null|          null|          null|         null|                 null|           null|                    null|              null|              null|          null|          null|              null|               null|                     0.0|                     0.0|                     0.0|                     0.0|                -815.0|              0|              0|              0|              0|              0|              0|              0|              0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|                       0.0|                      0.0|                       0.0|                      0.0|                      0.0|                       0.0|
|    100006|     0|        Cash loans|          F|           N|              Y|           0|        135000.0|  312682.5|    29686.5|       297000.0|  Unaccompanied|             Working|Secondary / secon...|      Civil marriage|House / apartment|                  0.008019|    -19005|        -3039|          -9833.0|          -2437|       null|         1|             1|              0|               1|         0|         0|       Laborers|            2.0|                   2|                          2|                 WEDNESDAY|                     17|                         0|                         0|                          0|                     0|                     0|                      0|Business Entity T...|               null| 0.6504416904014653|               null|          null|            null|                       null|              null|          null|         null|         null|         null|         null|        null|                null|          null|                   null|             null|           null|             null|                        null|            null|           null|          null|          null|          null|          null|         null|                 null|           null|                    null|              null|           null|             null|                        null|              null|           null|          null|          null|          null|          null|         null|                 null|           null|                    null|              null|              null|          null|          null|              null|               null|                     2.0|                     0.0|                     2.0|                     0.0|                -617.0|              0|              1|              0|              0|              0|              0|              0|              0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|                      null|                     null|                      null|                     null|                     null|                      null|
|    100007|     0|        Cash loans|          M|           N|              Y|           0|        121500.0|  513000.0|    21865.5|       513000.0|  Unaccompanied|             Working|Secondary / secon...|Single / not married|House / apartment|                  0.028663|    -19932|        -3038|          -4311.0|          -3458|       null|         1|             1|              0|               1|         0|         0|     Core staff|            1.0|                   2|                          2|                  THURSDAY|                     11|                         0|                         0|                          0|                     0|                     1|                      1|            Religion|               null| 0.3227382869704046|               null|          null|            null|                       null|              null|          null|         null|         null|         null|         null|        null|                null|          null|                   null|             null|           null|             null|                        null|            null|           null|          null|          null|          null|          null|         null|                 null|           null|                    null|              null|           null|             null|                        null|              null|           null|          null|          null|          null|          null|         null|                 null|           null|                    null|              null|              null|          null|          null|              null|               null|                     0.0|                     0.0|                     0.0|                     0.0|               -1106.0|              0|              0|              0|              0|              0|              0|              1|              0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|                       0.0|                      0.0|                       0.0|                      0.0|                      0.0|                       0.0|

In [ ]:
bureau.show()

+----------+------------+-------------+---------------+-----------+------------------+-------------------+-----------------+----------------------+------------------+--------------+-------------------+--------------------+----------------------+---------------+------------------+-----------+
|SK_ID_CURR|SK_ID_BUREAU|CREDIT_ACTIVE|CREDIT_CURRENCY|DAYS_CREDIT|CREDIT_DAY_OVERDUE|DAYS_CREDIT_ENDDATE|DAYS_ENDDATE_FACT|AMT_CREDIT_MAX_OVERDUE|CNT_CREDIT_PROLONG|AMT_CREDIT_SUM|AMT_CREDIT_SUM_DEBT|AMT_CREDIT_SUM_LIMIT|AMT_CREDIT_SUM_OVERDUE|    CREDIT_TYPE|DAYS_CREDIT_UPDATE|AMT_ANNUITY|
+----------+------------+-------------+---------------+-----------+------------------+-------------------+-----------------+----------------------+------------------+--------------+-------------------+--------------------+----------------------+---------------+------------------+-----------+
|    215354|     5714462|       Closed|     currency 1|       -497|                 0|             -153.0|           -153.0|                  null|                 0|       91323.0|                0.0|                null|                   0.0|Consumer credit|              -131|       null|
|    215354|     5714463|       Active|     currency 1|       -208|                 0|             1075.0|             null|                  null|                 0|      225000.0|           171342.0|                null|                   0.0|    Credit card|               -20|       null|
|    215354|     5714464|       Active|     currency 1|       -203|                 0|              528.0|             null|                  null|                 0|      464323.5|               null|                null|                   0.0|Consumer credit|               -16|       null|
|    215354|     5714465|       Active|     currency 1|       -203|                 0|               null|             null|                  null|                 0|       90000.0|               null|                null|                   0.0|    Credit card|               -16|       null|
|    215354|     5714466|       Active|     currency 1|       -629|                 0|             1197.0|             null|               77674.5|                 0|     2700000.0|               null|                null|                   0.0|Consumer credit|               -21|       null|
|    215354|     5714467|       Active|     currency 1|       -273|                 0|            27460.0|             null|                   0.0|                 0|      180000.0|           71017.38|           108982.62|                   0.0|    Credit card|               -31|       null|
|    215354|     5714468|       Active|     currency 1|        -43|                 0|               79.0|             null|                   0.0|                 0|       42103.8|            42103.8|                 0.0|                   0.0|Consumer credit|               -22|       null|
|    162297|     5714469|       Closed|     currency 1|      -1896|                 0|            -1684.0|          -1710.0|               14985.0|                 0|      76878.45|                0.0|                 0.0|                   0.0|Consumer credit|             -1710|       null|
|    162297|     5714470|       Closed|     currency 1|      -1146|                 0|             -811.0|           -840.0|                   0.0|                 0|      103007.7|                0.0|                 0.0|                   0.0|Consumer credit|              -840|       null|
|    162297|     5714471|       Active|     currency 1|      -1146|                 0|             -484.0|             null|                   0.0|                 0|        4500.0|                0.0|                 0.0|                   0.0|    Credit card|              -690|       null|
|    162297|     5714472|       Active|     currency 1|      -1146|                 0|             -180.0|             null|                   0.0|                 0|      337500.0|                0.0|                 0.0|                   0.0|    Credit card|              -690|       null|
|    162297|     5714473|       Closed|     currency 1|      -2456|                 0|             -629.0|           -825.0|                  null|                 0|      675000.0|                0.0|                 0.0|                   0.0|Consumer credit|              -706|       null|
|    162297|     5714474|       Active|     currency 1|       -277|                 0|             5261.0|             null|                   0.0|                 0|     7033500.0|               null|                null|                   0.0|       Mortgage|               -31|       null|
|    402440|     5714475|       Active|     currency 1|        -96|                 0|              269.0|             null|                   0.0|                 0|       89910.0|            76905.0|                 0.0|                   0.0|Consumer credit|               -22|       null|
|    238881|     5714482|       Closed|     currency 1|       -318|                 0|             -187.0|           -187.0|                  null|                 0|           0.0|                0.0|                 0.0|                   0.0|    Credit card|              -185|       null|
|    238881|     5714484|       Closed|     currency 1|      -2911|                 0|            -2607.0|          -2604.0|                  null|                 0|       48555.0|               null|                null|                   0.0|Consumer credit|             -2601|       null|
|    238881|     5714485|       Closed|     currency 1|      -2148|                 0|            -1595.0|           -987.0|                  null|                 0|      135000.0|               null|                null|                   0.0|Consumer credit|              -984|       null|
|    238881|     5714486|       Active|     currency 1|       -381|                 0|               null|             null|                  null|                 0|      450000.0|           520920.0|                null|                   0.0|Consumer credit|                -4|       null|
|    238881|     5714487|       Active|     currency 1|        -95|                 0|             1720.0|             null|                  null|                 0|       67500.0|             8131.5|                null|                   0.0|    Credit card|                -7|       null|
|    238881|     5714488|       Closed|     currency 1|       -444|                 0|              -77.0|            -77.0|                   0.0|                 0|     107184.06|                0.0|                 0.0|                   0.0|Consumer credit|               -71|       null|
+----------+------------+-------------+---------------+-----------+------------------+-------------------+-----------------+----------------------+------------------+--------------+-------------------+--------------------+----------------------+---------------+------------------+-----------+
only showing top 20 rows

In [ ]:
bureau.printSchema()

root
 |-- SK_ID_CURR: integer (nullable = true)
 |-- SK_ID_BUREAU: integer (nullable = true)
 |-- CREDIT_ACTIVE: string (nullable = true)
 |-- CREDIT_CURRENCY: string (nullable = true)
 |-- DAYS_CREDIT: integer (nullable = true)
 |-- CREDIT_DAY_OVERDUE: integer (nullable = true)
 |-- DAYS_CREDIT_ENDDATE: double (nullable = true)
 |-- DAYS_ENDDATE_FACT: double (nullable = true)
 |-- AMT_CREDIT_MAX_OVERDUE: double (nullable = true)
 |-- CNT_CREDIT_PROLONG: integer (nullable = true)
 |-- AMT_CREDIT_SUM: double (nullable = true)
 |-- AMT_CREDIT_SUM_DEBT: double (nullable = true)
 |-- AMT_CREDIT_SUM_LIMIT: double (nullable = true)
 |-- AMT_CREDIT_SUM_OVERDUE: double (nullable = true)
 |-- CREDIT_TYPE: string (nullable = true)
 |-- DAYS_CREDIT_UPDATE: integer (nullable = true)
 |-- AMT_ANNUITY: double (nullable = true)

In [ ]:
spark.sql("""
            select 
              *
            from 
              bureau
            where 
            SK_ID_CURR = 100002
""").show()

+----------+------------+-------------+---------------+-----------+------------------+-------------------+-----------------+----------------------+------------------+--------------+-------------------+--------------------+----------------------+---------------+------------------+-----------+
|SK_ID_CURR|SK_ID_BUREAU|CREDIT_ACTIVE|CREDIT_CURRENCY|DAYS_CREDIT|CREDIT_DAY_OVERDUE|DAYS_CREDIT_ENDDATE|DAYS_ENDDATE_FACT|AMT_CREDIT_MAX_OVERDUE|CNT_CREDIT_PROLONG|AMT_CREDIT_SUM|AMT_CREDIT_SUM_DEBT|AMT_CREDIT_SUM_LIMIT|AMT_CREDIT_SUM_OVERDUE|    CREDIT_TYPE|DAYS_CREDIT_UPDATE|AMT_ANNUITY|
+----------+------------+-------------+---------------+-----------+------------------+-------------------+-----------------+----------------------+------------------+--------------+-------------------+--------------------+----------------------+---------------+------------------+-----------+
|    100002|     6158904|       Closed|     currency 1|      -1125|                 0|            -1038.0|          -1038.0|                  null|                 0|       40761.0|               null|                null|                   0.0|    Credit card|             -1038|        0.0|
|    100002|     6158905|       Closed|     currency 1|       -476|                 0|               null|            -48.0|                  null|                 0|           0.0|                0.0|                null|                   0.0|    Credit card|               -47|       null|
|    100002|     6158906|       Closed|     currency 1|      -1437|                 0|            -1072.0|          -1185.0|                   0.0|                 0|      135000.0|                0.0|                 0.0|                   0.0|Consumer credit|             -1185|        0.0|
|    100002|     6158907|       Closed|     currency 1|      -1121|                 0|             -911.0|           -911.0|                3321.0|                 0|       19071.0|               null|                null|                   0.0|Consumer credit|              -906|        0.0|
|    100002|     6158908|       Closed|     currency 1|       -645|                 0|               85.0|            -36.0|              5043.645|                 0|      120735.0|                0.0|                 0.0|                   0.0|Consumer credit|               -34|        0.0|
|    100002|     6158909|       Active|     currency 1|       -103|                 0|               null|             null|                  40.5|                 0|     31988.565|                0.0|           31988.565|                   0.0|    Credit card|               -24|        0.0|
|    100002|     6158903|       Active|     currency 1|      -1042|                 0|              780.0|             null|                  null|                 0|      450000.0|           245781.0|                 0.0|                   0.0|Consumer credit|                -7|        0.0|
|    100002|     6113835|       Closed|     currency 1|      -1043|                 0|               62.0|           -967.0|                   0.0|                 0|       67500.0|               null|                null|                   0.0|    Credit card|              -758|        0.0|
+----------+------------+-------------+---------------+-----------+------------------+-------------------+-----------------+----------------------+------------------+--------------+-------------------+--------------------+----------------------+---------------+------------------+-----------+

In [ ]:
string_list = [item[0] for item in bureau.dtypes if item[1].startswith('string')]
string_list

['CREDIT_ACTIVE', 'CREDIT_CURRENCY', 'CREDIT_TYPE']

#Avaliando variaveis do tipo string na tabela bureau

# 1) CREDIT_ACTIVE
Situação dos créditos reportados pelo Credit Bureau (CB)

In [ ]:
spark.sql("""
            select 
              CREDIT_ACTIVE,
              count(*) as Volume
 
            from 
              bureau
            group by 
              CREDIT_ACTIVE
            order by 
              volume desc
""").show()

+-------------+-------+
|CREDIT_ACTIVE| Volume|
+-------------+-------+
|       Closed|1079273|
|       Active| 630607|
|         Sold|   6527|
|     Bad debt|     21|
+-------------+-------+

- Credito fechado é credito pago?
- baixo numero de incobraveis, o arquivo ta na casa de milhões, esses dados poderiam ser esxcluidos por nao inferirem em nada no negocio?

# 2) CREDIT_CURRENCY 
Moeda recodificado do crédito do Bureau de Crédito

In [ ]:
 spark.sql("""
            select 
              CREDIT_CURRENCY,
              count(*) as Volume
 
            from 
              bureau
            group by 
              CREDIT_CURRENCY
            order by 
              volume desc
""").show()

+---------------+-------+
|CREDIT_CURRENCY| Volume|
+---------------+-------+
|     currency 1|1715020|
|     currency 2|   1224|
|     currency 3|    174|
|     currency 4|     10|
+---------------+-------+

- currency 1? muito volume, nada explicativo?
- Pensando que a tabela tem milhoes de linha, essas ocorrencias pouco volumosas poderiam ser exlcuidas?

## 3) CREDIT_TYPE 
Tipo de crédito da Agência de Crédito (Carro, dinheiro,...)

In [ ]:
 spark.sql("""
             select 
              CREDIT_TYPE,
              count(*) as Volume
 
            from 
              bureau
            group by 
              CREDIT_TYPE
            order by 
              volume desc
""").show()

+--------------------+-------+
|         CREDIT_TYPE| Volume|
+--------------------+-------+
|     Consumer credit|1251615|
|         Credit card| 402195|
|            Car loan|  27690|
|            Mortgage|  18391|
|           Microloan|  12413|
|Loan for business...|   1975|
|Another type of loan|   1017|
|Unknown type of loan|    555|
|Loan for working ...|    469|
|Cash loan (non-ea...|     56|
|    Real estate loan|     27|
|Loan for the purc...|     19|
|Loan for purchase...|      4|
|Mobile operator loan|      1|
|    Interbank credit|      1|
+--------------------+-------+

- Grande tendencia do credito de consumo
- Talvez um bom ponto para estudo de caso "qual segmento cresce no mercado de credito"

#Indicadores preditivos (Variaveis Explicativas)
 variáveis que explicam um determinado fenômeno, neste caso explicam a probabilidade de quitação de um empréstimo da modalidade imobiliária

In [ ]:
metadados = spark.read.csv("/content/drive/MyDrive/LAMIA/projeto_final/dados/InputData/HomeCredit_columns_description.csv", inferSchema=True, header=True)
 
metadados.registerTempTable('metadados')
 
metadados.count()

219

In [ ]:
spark.sql("""
        select 
          *
        from 
        
          metadados
    
        where Table = 'bureau.csv'

""").show(100,False)

+---+----------+----------------------+------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------------------+
|_c0|Table     |Row                   |Description                                                                                                                                     |Special                              |
+---+----------+----------------------+------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------------------+
|122|bureau.csv|SK_ID_CURR            |ID do empréstimo em nossa amostra - um empréstimo em nossa amostra pode ter 0,1,2 ou mais créditos anteriores relacionados na agência de crédito|hashed                               |
|123|bureau.csv|SK_BUREAU_ID          |ID recodificado do crédito anterior do Credit Bureau relacionado ao nosso empréstimo (codificação exclusiva para cada solicitação de empréstimo)|hashed                               |
|124|bureau.csv|CREDIT_ACTIVE         |Situação dos créditos reportados pelo Credit Bureau (CB)                                                                                        |null                                 |
|125|bureau.csv|CREDIT_CURRENCY       |Moeda recodificado do crédito do Bureau de Crédito                                                                                              |recoded                              |
|126|bureau.csv|DAYS_CREDIT           |Quantos dias antes do pedido atual o cliente solicitou crédito do Bureau de Crédito                                                             |time only relative to the application|
|127|bureau.csv|CREDIT_DAY_OVERDUE    |Número de dias em atraso no crédito CB no momento da solicitação do empréstimo relacionado em nossa amostra                                     |null                                 |
|128|bureau.csv|DAYS_CREDIT_ENDDATE   |Duração restante do crédito CB (em dias) no momento da aplicação no Crédito à Habitação                                                         |time only relative to the application|
|129|bureau.csv|DAYS_ENDDATE_FACT     |Dias desde que o crédito CB terminou no momento da aplicação no Crédito à Habitação (apenas para crédito fechado)                               |time only relative to the application|
|130|bureau.csv|AMT_CREDIT_MAX_OVERDUE|Valor máximo em atraso no crédito do Bureau de Crédito até o momento (na data de solicitação do empréstimo em nossa amostra)                    |null                                 |
|131|bureau.csv|CNT_CREDIT_PROLONG    |Quantas vezes o crédito do Bureau de Crédito foi prolongado                                                                                     |null                                 |
|132|bureau.csv|AMT_CREDIT_SUM        |Valor de crédito atual para o crédito do Bureau de Crédito                                                                                      |null                                 |
|133|bureau.csv|AMT_CREDIT_SUM_DEBT   |Dívida atual sobre crédito do Bureau de Crédito                                                                                                 |null                                 |
|134|bureau.csv|AMT_CREDIT_SUM_LIMIT  |Limite de crédito atual do cartão de crédito informado no Credit Bureau                                                                         |null                                 |
|135|bureau.csv|AMT_CREDIT_SUM_OVERDUE|Valor atual vencido no crédito do Bureau de Crédito                                                                                             |null                                 |
|136|bureau.csv|CREDIT_TYPE           |Tipo de crédito da Agência de Crédito (Carro, dinheiro,...)                                                                                     |null                                 |
|137|bureau.csv|DAYS_CREDIT_UPDATE    |Quantos dias antes do pedido de empréstimo veio a última informação sobre o crédito do Bureau de Crédito                                        |time only relative to the application|
|138|bureau.csv|AMT_ANNUITY           |Anuidade do crédito do Bureau de Crédito                                                                                                        |null                                 |
+---+----------+----------------------+------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------------------+

In [ ]:
 numeric_list = [item[0] for item in bureau.dtypes if not item[1].startswith('string')]
 numeric_list

['SK_ID_CURR',
 'SK_ID_BUREAU',
 'DAYS_CREDIT',
 'CREDIT_DAY_OVERDUE',
 'DAYS_CREDIT_ENDDATE',
 'DAYS_ENDDATE_FACT',
 'AMT_CREDIT_MAX_OVERDUE',
 'CNT_CREDIT_PROLONG',
 'AMT_CREDIT_SUM',
 'AMT_CREDIT_SUM_DEBT',
 'AMT_CREDIT_SUM_LIMIT',
 'AMT_CREDIT_SUM_OVERDUE',
 'DAYS_CREDIT_UPDATE',
 'AMT_ANNUITY']

In [ ]:
spark.sql("""select distinct CREDIT_ACTIVE from bureau""").show()

+-------------+
|CREDIT_ACTIVE|
+-------------+
|     Bad debt|
|         Sold|
|       Active|
|       Closed|
+-------------+

# **VAR**: AMT_CREDIT_SUM_LIMIT
**Variavel**: Media do limite dos cartões de credito do cliente bureau   
**Feature bureau**: Limite de crédito atual do cartão de crédito informado no Credit Bureau

In [ ]:
df_bureau_02 = spark.sql("""
            select 
                 SK_ID_CURR,
                 round(avg(AMT_CREDIT_SUM_LIMIT),2) as AVG_CREDIT_LIMIT
            from 
              bureau
            group by 
              SK_ID_CURR
""")
df_bureau_02.registerTempTable('df_bureau_02')
 
df_bureau_02.count()

305811

Mais uma agregação, esta variavel é a media do limite de cartão de credito deste cliente, tem uma importancia na hora de ver se é inadimplente ou não, tendo em vista que outras empresas tambem ja emprestaram crtedito a este cliente

# **VAR**: AMT_CREDIT_SUM_DEBT 
**Variavel**: media de dividas sobre credito   
**Feature bureau**: Dívida atual sobre crédito do Bureau de Crédito

In [ ]:
df_bureau_03 = spark.sql("""
            select 
                 SK_ID_CURR,
                 round(avg(AMT_CREDIT_SUM_DEBT),2) as AMT_CREDIT_DEBT
            from 
              bureau
            group by 
              SK_ID_CURR
""")
df_bureau_03.registerTempTable('df_bureau_03')
 
df_bureau_03.count()

305811

In [ ]:
spark.sql(""" select * from df_bureau_03 where SK_ID_CURR = 100002""").show()

+----------+---------------+
|SK_ID_CURR|AMT_CREDIT_DEBT|
+----------+---------------+
|    100002|        49156.2|
+----------+---------------+

Mais uma agregação, este por exemplo é o limite utilizado, ou a divida de credito que o cliente tem, este cliente tem quase 50 mil em dividas mais ainda tem aquilo tudo de debito?

# TABELA GERAL COM VARS EXPLICATIVAS SOBRE O **CREDICT_ATIVE**

In [ ]:
df_bureau_01 = spark.sql("""
            select 
                 SK_ID_CURR,
                 round(avg(abs(DAYS_CREDIT)),2) as AVG_DAYS_CREDIT,
                 round(avg(case when CREDIT_ACTIVE in ('Active') then abs(DAYS_CREDIT) else 0 end),2) as AVG_CRED_ACTV_ACTIVE,
                 round(avg(case when CREDIT_ACTIVE in ('Closed') then abs(DAYS_CREDIT) else 0 end),2) as AVG_CRED_ACTV_CLOSED,
                 round(avg(case when CREDIT_ACTIVE in ('Sold') then abs(DAYS_CREDIT) else 0 end),2) as AVG_CRED_ACTV_SOLD,
                 round(avg(case when CREDIT_ACTIVE in ('Bad debt') then abs(DAYS_CREDIT) else 0 end),2) as AVG_CRED_ACTV_BADDBT,

                 round(sum(abs(DAYS_CREDIT)),2) as SUM_DAYS_CREDIT,
                 round(sum(case when CREDIT_ACTIVE in ('Active') then abs(DAYS_CREDIT) else 0 end),2) as SUM_CRED_ACTV_ACTIVE,
                 round(sum(case when CREDIT_ACTIVE in ('Closed') then abs(DAYS_CREDIT) else 0 end),2) as SUM_CRED_ACTV_CLOSED,
                 round(sum(case when CREDIT_ACTIVE in ('Sold') then abs(DAYS_CREDIT) else 0 end),2) as SUM_CRED_ACTV_SOLD,
                 round(sum(case when CREDIT_ACTIVE in ('Bad debt') then abs(DAYS_CREDIT) else 0 end),2) as SUM_CRED_ACTV_BADDBT,

                 round(avg(AMT_CREDIT_SUM_LIMIT),2) as AVG_CREDIT_LIMIT,
                 round(avg(AMT_CREDIT_SUM_DEBT),2) as  SUM_AMT_CREDIT_DEBT
            from 
              bureau
            group by 
              SK_ID_CURR
""")
df_bureau_01.registerTempTable('df_bureau_01')
 
df_bureau_01.count()

305811

In [ ]:
df_bureau_01.show()

+----------+---------------+--------------------+--------------------+------------------+--------------------+---------------+--------------------+--------------------+------------------+--------------------+---------------+--------------------+--------------------+------------------+--------------------+----------------+-------------------+
|SK_ID_CURR|AVG_DAYS_CREDIT|AVG_CRED_ACTV_ACTIVE|AVG_CRED_ACTV_CLOSED|AVG_CRED_ACTV_SOLD|AVG_CRED_ACTV_BADDBT|SUM_DAYS_CREDIT|SUM_CRED_ACTV_ACTIVE|SUM_CRED_ACTV_CLOSED|SUM_CRED_ACTV_SOLD|SUM_CRED_ACTV_BADDBT|MIN_DAYS_CREDIT|MIN_CRED_ACTV_ACTIVE|MIN_CRED_ACTV_CLOSED|MIN_CRED_ACTV_SOLD|MIN_CRED_ACTV_BADDBT|AVG_CREDIT_LIMIT|SUM_AMT_CREDIT_DEBT|
+----------+---------------+--------------------+--------------------+------------------+--------------------+---------------+--------------------+--------------------+------------------+--------------------+---------------+--------------------+--------------------+------------------+--------------------+----------------+-------------------+
|    341504|          283.5|               283.5|                 0.0|               0.0|                 0.0|            567|                 567|                   0|                 0|                   0|            282|                 282|                   0|                 0|                   0|             0.0|          195049.62|
|    197603|        1916.43|                 0.0|             1916.43|               0.0|                 0.0|          13415|                   0|               13415|                 0|                   0|            594|                   0|                 594|                 0|                   0|             0.0|                0.0|
|    330299|         1645.0|               76.47|             1568.53|               0.0|                 0.0|          24675|                1147|               23528|                 0|                   0|             98|                   0|                   0|                 0|                   0|             0.0|            8640.96|
|    355377|         1540.0|              111.89|             1428.11|               0.0|                 0.0|          13860|                1007|               12853|                 0|                   0|            859|                   0|                   0|                 0|                   0|             0.0|           43068.21|
|    454739|        1215.86|              235.43|              980.43|               0.0|                 0.0|           8511|                1648|                6863|                 0|                   0|            157|                   0|                   0|                 0|                   0|             0.0|            29832.0|
|    295286|        1264.89|              112.33|             1152.56|               0.0|                 0.0|          11384|                1011|               10373|                 0|                   0|            212|                   0|                   0|                 0|                   0|             0.0|           174240.9|
|    192082|        1451.21|               93.54|             1357.67|               0.0|                 0.0|          34829|                2245|               32584|                 0|                   0|            199|                   0|                   0|                 0|                   0|             0.0|            69687.2|
|    109608|         504.33|               73.33|               431.0|               0.0|                 0.0|           1513|                 220|                1293|                 0|                   0|             40|                   0|                   0|                 0|                   0|             0.0|                0.0|
|    375705|         896.75|              155.75|               741.0|               0.0|                 0.0|           3587|                 623|                2964|                 0|                   0|            623|                   0|                   0|                 0|                   0|             0.0|                0.0|
|    380065|         638.67|              136.33|              502.33|               0.0|                 0.0|           1916|                 409|                1507|                 0|                   0|            409|                   0|                   0|                 0|                   0|             0.0|                0.0|
|    416191|         1429.0|                 0.0|              1429.0|               0.0|                 0.0|           4287|                   0|                4287|                 0|                   0|            640|                   0|                 640|                 0|                   0|             0.0|                0.0|
|    162260|         1507.4|               307.8|              1199.6|               0.0|                 0.0|           7537|                1539|                5998|                 0|                   0|            185|                   0|                   0|                 0|                   0|             0.0|          2088045.9|
|    166160|          856.0|               856.0|                 0.0|               0.0|                 0.0|           1712|                1712|                   0|                 0|                   0|            822|                 822|                   0|                 0|                   0|             0.0|           965875.5|
|    191350|          151.0|               151.0|                 0.0|               0.0|                 0.0|            151|                 151|                   0|                 0|                   0|            151|                 151|                   0|                 0|                   0|            null|          4137808.5|
|    258865|          979.5|               979.5|                 0.0|               0.0|                 0.0|           1959|                1959|                   0|                 0|                   0|            198|                 198|                   0|                 0|                   0|            null|               null|
|    439807|          795.2|                37.8|               757.4|               0.0|                 0.0|           3976|                 189|                3787|                 0|                   0|            189|                   0|                   0|                 0|                   0|        49721.91|             1666.8|
|    258129|         434.75|               124.5|              310.25|               0.0|                 0.0|           1739|                 498|                1241|                 0|                   0|            212|                   0|                   0|                 0|                   0|             0.0|            87621.1|
|    133018|        1261.64|               55.36|             1206.27|               0.0|                 0.0|          13878|                 609|               13269|                 0|                   0|            213|                   0|                   0|                 0|                   0|             0.0|           59496.19|
|    338173|        1318.24|              205.94|             1112.29|               0.0|                 0.0|          22410|                3501|               18909|                 0|                   0|            301|                   0|                   0|                 0|                   0|             0.0|           23953.71|
|    338091|         1022.0|                 0.0|              1022.0|               0.0|                 0.0|           1022|                   0|                1022|                 0|                   0|           1022|                   0|                1022|                 0|                   0|             0.0|                0.0|
+----------+---------------+--------------------+--------------------+------------------+--------------------+---------------+--------------------+--------------------+------------------+--------------------+---------------+--------------------+--------------------+------------------+--------------------+----------------+-------------------+
only showing top 20 rows

- Podemos observar que com a criação destas variaveis o intuito sera de agregar valor e transformar para o mesmo nivel de granulidade da tabela original, esta bureau é a trasacional  

- Conseguimos agregar algumas novas vars com a tabela bureau, para o mesmo nivel de granulidade da tabela principal, agora e so juntar elas

# Compondo ABT
tabela analítica de modelagem, para compor precisamos da tabela de público (tabela principal) e mais as variáveis explicativas e target (quando houver).

In [ ]:
abt_bureau = spark.sql("""
          Select 
 
            a.*,
            b.AVG_DAYS_CREDIT,
            b.AVG_CRED_ACTV_ACTIVE,
            b.AVG_CRED_ACTV_CLOSED,
            b.AVG_CRED_ACTV_SOLD,
            b.AVG_CRED_ACTV_BADDBT,
            b.SUM_DAYS_CREDIT,
            b.SUM_CRED_ACTV_ACTIVE,
            b.SUM_CRED_ACTV_CLOSED,
            b.SUM_CRED_ACTV_SOLD,
            b.SUM_CRED_ACTV_BADDBT,
            
            b.AVG_CREDIT_LIMIT,
            b.SUM_AMT_CREDIT_DEBT

          from app_train as a
          left join 
          df_bureau_01 as b
          on
          a.SK_ID_CURR = b.SK_ID_CURR
 """)
 
abt_bureau.registerTempTable('abt_bureau')
 
abt_bureau.count()

307511

Granulidade ok, tudo ajustado, variaveis criadas e agregadas a tabela principal

# Salvando a tabela gerada no diretorio das ABTs

In [ ]:
abt_bureau.write.mode('overwrite').parquet("/content/drive/MyDrive/LAMIA/projeto_final/Arquitetura_Dados/ABT/VARS_BUREAU")
#Com o metodo parquet sao salvos diversos arquivos no diretorio novo que é o VARS_BUREAU, pique hdfs mesmo

In [ ]:
#Lendo com o metodo do spark fica bem bacana
read_abt_bureau = spark.read.format("parquet").load("/content/drive/MyDrive/LAMIA/projeto_final/Arquitetura_Dados/ABT/VARS_BUREAU")
 
read_abt_bureau.count()

307511

# Transformando em um .csv

In [ ]:
import pandas as pd

In [ ]:
spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", "true")

In [ ]:
dataframe = read_abt_bureau.select("*").toPandas()

In [ ]:
dataframe.to_csv('/content/drive/MyDrive/LAMIA/projeto_final/dados/ABT/Abt_Bureau.csv')